[Unit]

Description=RESTful wrapper for nsupdate
Wants=network.service
After=network.service

[Service]

Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/bind-restapi.py
Restart=always

[Install]

WantedBy=multi-user.target
